/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/* my -VadimK- */
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 8px;
}

a {
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

/* timer */
#datetime-picker {
  width: 200px;
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 32px;
  margin-left: 50px;
  box-sizing: border-box;
}

.flatpickr-input {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#datetime-picker:hover {
  border-color: #888;
}

#datetime-picker:focus {
  border-color: #1e90ff;
  outline: none;
}

#datetime-picker:disabled {
  background-color: #f5f5f5;
  color: #999;
}

button[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button[data-start]:hover {
  background-color: #6c8cff;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #999;
  cursor: not-allowed;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
}

.timer {
  display: flex;
  gap: 24px;
  font-size: 24px;
  width: 346px;
  height: 72px;
  margin-left: 50px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 6px;
}

.label {
  color: #555;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

/* snackbar */

.form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.form > label {
  display: flex;
  flex-direction: column;
}

.form > label input {
  height: 40px;
  outline: none;
}

.form > label input:hover {
  border: 1px solid #000000;
  border-radius: 4px;
}

.form > label input:focus {
  border: 1px solid #4e75ff;
  border-radius: 4px;
}

fieldset > input {
  padding: 24px 48px 8px 48px;
}

fieldset {
  display: flex;
  gap: 48px;
  justify-content: center;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 24px;
}

.form button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  padding: 8px 99px;
  transition: 500ms background-color cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #4e75ff;
}

.form button:hover {
  background-color: #6c8cff;
}
/* download */